.yo-scroller-Enter{
    height:100%;
}
.myEnter{
    width:100%;
    height:100%;
    @include flex-direction(column);
    @include flexbox();
    
    .myEnter_header{
        width:100%;
        height:0.44rem;
    }
    .myEnterContent{
        width:100%!important;
        @include flex();
        overflow: hidden;
        .recom_box{
            width:100%;
            .recom_header{
                width:100%;
                height:2.34rem;
                overflow: hidden;
                img{
                    width:100%;
                    height:auto;
                }
            }
            .div_img{
                width:100%;
                height:0.5rem;
                margin-top: 0.2rem;
                @include flexbox();
                justify-content: center;
                .div_img_center{
                    width:80%;
                    height:100%;
                    background:blue;
                    @include flexbox();
                    justify-content: center;
                    background:url(/img/t_01.png) no-repeat left top;
                    background-size:100% auto;
                    span{
                        line-height:0.36rem;
                        font-size:0.14rem;
                        color:#fff;
                    }
                }
                
            }
            .winning{
                width:100%!important;
                height:1.6rem;
                @include flexbox();
                justify-content: center;
                .winning_box{
                    width:70%;
                    background:#fff8ea;
                    height:100%;
                    @include flexbox();
                    padding-top:0.3rem;
                    @include flex-direction(column);
                    .winning_top{
                        width:100%;
                        height:0.4rem;
                        @include flexbox();
                        @include flex-direction(row);
                        li{
                            @include flex();
                            border-right:0.01rem dashed #b6b6b6;
                            span{
                                width:100%;
                                text-align: center;
                                display:block;
                            }
                        }
                    }
                    .winning_bot{
                        width:100%!important;
                        @include flex();
                        @include flexbox();
                        padding: 0 2%;
                        padding-top:0.3rem;
                        .winning_bot_box{
                            width:100%;
                            height:100%;
                            @include flexbox();
                            justify-content: center;
                            .btn_gofriend{
                                width: 94%;
                                height: 0.45rem;
                                text-align: center;
                                line-height:0.45rem;
                                font-size:0.14rem;
                                color:#fff;
                                border-redius:10px;
                                background:#B34538;
                                
                            }
                        }
                    }
                }
            }
            .txt_intro{
                width:100%!important;
                @include flexbox();
                @include flex-direction(column);
                padding:0 0.2rem;
                margin-top:0.3rem;
                p{
                    font-size:0.17rem;
                    color:#000;
                    margin-bottom:0.05rem;
                }
                .txt_intro_para{
                    width:100%!important;
                }
                .para_first{
                    margin-bottom:0.03rem;
                }
                .para_per{
                    font-size:0.14rem;
                    font-weight:bold;
                }
            }
        }
    }
}
